div {
    color: white;
}

/* 1.标签选择器 */

p {
    color: gold;
}

/* 2.类选择器 */

.green {
    color: green;
}
.font20 {
    font-size: 20px;
}
.box {
    width: 100px;
    height: 100px;
    font-size: 30px;
}
.red-div {
    /* 背景颜色 */
    background-color: rgb(255, 0, 0);
}
.green-div {
    background-color: green;
}

/* 3.id选择器 */

#pink {
    color: pink;
}

/* 4.通配符选择器 */

* {
    /* 修改背景颜色 */
    background-color: rgb(98, 146, 96);
}

/* 字体 */

h2 {
    /* 文本居中 */
    text-align: center;
    /* 上划线 */
    text-decoration: overline;
    font-family: '微软雅黑';
    /* 400 等于正常不加粗 normal */
    font-weight: 400;
}
p {
    /* 首行缩进 */
    text-indent: 2em;
    /* 行间距 */
    line-height: 26px;
    font-family: 'Microsoft YaHei', Arial;
}
.bold {
    /* 700 等于加粗 bold */
    font-weight: 700;
}
.italic {
    /* 斜体切换 */
    font-style: italic;
}
.fuhe {
    /* 复合属性,必须按顺序写。最后两项一定不能省略。 */
    /* font : font-style font-weight font-size/line-height font-family; */
    /* font: italic 700 16px 'Microsoft YaHei'; */
    text-decoration: line-through;
    font: 26px 'Microsoft YaHei'
}
a {
    /* 取消下划线 */
    text-decoration: none;
}
